In [8]:
# Supress Warnings

#Use this cell to ignore the warnings.

#[Your Code]

In [9]:
# Import the numpy and pandas packages

#[Your Code]

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie data. Store it in a variable called `movies`.

In [3]:

#Making Sure that the csv file belong to the same directory as this file. And then using head command to read few rows.
#Else complete path of the directory can be used to read the file.
#read_csv is used to read the deimited file.

import numpy as np
import pandas as pd
movies=pd.read_csv('MovieData.csv')

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [4]:
# Write your code for inspection here
movies.head()

#Find the the initial rows count for future references.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [19]:
# Write your code for column-wise null count here

#Hint : isnull returns boolean True/False for column value to be null or not, sum will add int count. 
movies.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [23]:
# Write your code for row-wise null count here

#Sum of ISNull along axis 1 will give the null count row-wise. 
movies.loc[[0]].isna().sum()
movies.loc[[1]].isna().sum()
movies.loc[[2]].isna().sum()
movies.loc[[3]].isna().sum()
movies.loc[[4]].isna().sum().sum() #The first sum is for count of the null values and the second one if for adding all the values

14

In [60]:
# Write your code for column-wise null percentages here

# Sum of all nulls of column/Total count converted to percentage and rounded to 2 digits.
null_percent=movies.isna().sum().sum()*100/len(movies)
print(np.round(null_percent,2))

36.31

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [51]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

#Dropping the columns which are not required.Written in Multiple lines for readbility.


del(movies['director_facebook_likes'])
del(movies['director_facebook_likes'])
del(movies['actor_1_facebook_likes'])
del(movies['actor_2_facebook_likes'])
del(movies['actor_3_facebook_likes'])
del(movies['actor_2_name'])
del(movies['cast_total_facebook_likes'])
del(movies['actor_3_name'])
del(movies['duration'])
del(movies['facenumber_in_poster'])
del(movies['content_rating'])
del(movies['country'])
del(movies['movie_imdb_link'])
del(movies['aspect_ratio'])
del(movies['plot_keywords'])
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,goddess|marriage ceremony|marriage proposal|pi...,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,bomb|espionage|sequel|spy|terrorist,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,deception|imprisonment|lawlessness|police offi...,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,NaN,NaN,NaN,7.1,0

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [65]:
# Write your code for dropping the rows here

TypeError: isnull() takes 1 positional argument but 2 were given

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [17]:
# Write your code for dropping the rows here

#Dropping rows with more than 5 NaN values. thresh is kept 5.
if (movies.isna()>5):
    then del

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [70]:
# Write your code for filling the NaN values in the 'language' column here
movies['language']= 'English'
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,goddess|marriage ceremony|marriage proposal|pi...,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,bomb|espionage|sequel|spy|terrorist,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,deception|imprisonment|lawlessness|police offi...,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,English,NaN,NaN,7.1,0

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [79]:
# Write your code for checking number of retained rows here
#[Your Code]
null_number=movies.loc[[4]].isna().sum()
null_perecnt=movies.loc[[4]].isna().sum().sum()/6*100
print(null_number, null_percent)

director_name             0
num_critic_for_reviews    1
gross                     1
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
plot_keywords             1
num_user_for_reviews      1
language                  0
budget                    1
title_year                1
imdb_score                0
movie_facebook_likes      0
dtype: int64 36.307753321435655

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [89]:
# Write your code for unit conversion here
 
#Changing the value of each value of budget and gross by dividing by 1000000 using apply function.
#[Your Code]
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,goddess|marriage ceremony|marriage proposal|pi...,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,bomb|espionage|sequel|spy|terrorist,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,deception|imprisonment|lawlessness|police offi...,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,English,NaN,NaN,7.1,0,NaN

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [86]:
# Write your code for creating the profit column here
movies['profit']=(movies['gross']-movies['budget'])
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,goddess|marriage ceremony|marriage proposal|pi...,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,bomb|espionage|sequel|spy|terrorist,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,deception|imprisonment|lawlessness|police offi...,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,English,NaN,NaN,7.1,0,NaN

In [98]:
# Write your code for sorting the dataframe here
movies.sort_values(by='profit', ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0
29,Colin Trevorrow,644.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,dinosaur|disaster film|experiment gone wrong|j...,1290.0,English,150000000.0,2015.0,7.0,150000,502177271.0
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,artist|love|ship|titanic|wet,2528.0,English,200000000.0,1997.0,7.7,26000,458672302.0
3024,George Lucas,282.0,460935665.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,death star|empire|galactic war|princess|rebellion,1470.0,English,11000000.0,1977.0,8.7,33000,449935665.0
3080,Steven Spielberg,215.0,434949459.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,bicyclist|boy|doll|star wars reference|voice i...,515.0,English,10500000.0,1982.0,7.9,34000,424449459.0
794,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,alien invasion|assassin|battle|iron man|soldier,1722.0,English,220000000.0,2012.0,8.1,123000,403279547.0
17,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,alien invasion|assassin|battle|iron man|soldier,1722.0,English,220000000.0,2012.0,8.1,123000,403279547.0
509,Roger Allers,186.0,422783777.0,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,king|prince|scar|uncle|unnecessary guilt,656.0,English,45000000.0,1994.0,8.5,17000,377783777.0
240,George Lucas,320.0,474544677.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,alien|character says i have a bad feeling abou...,3597.0,English,115000000.0,1999.0,6.5,13000,359544677.0
66,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,based on comic book|dc comics|psychopath|star ...,4667.0,English,185000000.0,2008.0,9.0,37000,348316061.0
439,Gary Ross,673.0,407999255.0,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,fight to the death|game|massacre|self survival...,1959.0,English,78000000.0,2012.0,7.3,140000,329999255.0
812,Tim Miller,579.0,363024263.0,Action|Adventure|Comedy|Romance|Sci-Fi,Ryan Reynolds,Deadpool,479047,based on comic book|breaking the fourth wall|m...,1058.0,English,58000000.0,2016.0,8.1,117000,305024263.0
186,Francis Lawrence,502.0,424645577.0,Adventure|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games: Catching Fire,498397,president|snow|television|tour|uprising,706.0,English,130000000.0,2013.0,7.6,82000,294645577.0
697,Steven Spielberg,308.0,356784000.0,Adventure|Sci-Fi|Thriller,Wayne Knight,Jurassic Park,613473,dinosaur|jurassic park|survival|theme park|tyr...,895.0,English,63000000.0,1993.0,8.1,19000,293784000.0
521,Pierre Coffin,306.0,368049635.0,Animation|Comedy|Family|Sci-Fi,Steve Carell,Despicable Me 2,286877,dating|minion|overprotective father|undercover...,284.0,English,76000000.0,2013.0,7.5,56000,292049635.0
814,Clint Eastwood,490.0,350123553.0,Action|Biography|Drama|History|Thriller|War,Bradley Cooper,American Sniper,325264,assassin|death of child|iraq|sniper|sniper rifle,916.0,English,58800000.0,2014.0,7.3,112000,291323553.0
338,Andrew Stanton,301.0,380838870.0,Adventure|Animation|Comedy|Family,Alexander Gould,Finding Nemo,692482,great barrier reef|protective father|separatio...,866.0,English,94000000.0,2003.0,8.2,11000,286838870.0
582,Andrew Adamson,205.0,436471036.0,Adventure|Animation|Comedy|Family|Fantasy|Romance,Rupert Everett,Shrek 2,314630,drag queen|physical appearance|princess|queen|...,483.0,English,150000000.0,2004.0,7.2,0,286471036.0
339,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,battle|epic|king|orc|ring,3189.0,English,94000000.0,2003.0,8.9,16000,283019252.0
1536,Richard Marquand,197.0,309125409.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode VI - Return of the Jedi,681857,death star|emperor|empire|princess|rebel,647.0,English,32500000.0,1983.0,8.4,14000,276625409.0
836,Robert Zemeckis,149.0,329691196.0,Comedy|Drama,Tom Hanks,Forrest Gump,1251222,amputee|love|vietnam|vietnam war|war hero,1398.0,English,55000000.0,1994.0,8.8,59000,274691196.0
2051,Irvin Kershner,223.0,290158751.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes Back,837759,duel|famous twist|rebel|rescue|snowy landscape,900.0,English,18000000.0,1980.0,8.8,17000,272158751.0
2601,Chris Columbus,102.0,285761243.0,Comedy|Family,Macaulay Culkin,Home Alone,311075,airport|child protagonist|child swearing|chris...,305.0,English,18000000.0,1990.0,7.5,20000,267761243.0
236,George Lucas,359.0,380262555.0,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode III - Revenge of the Sith,520104,elongated cry of no|friends become enemies|kic...,3286.0,English,113000000.0,2005.0,7.6,10000,267262555.0
161,Sam Raimi,291.0,403706375.0,Action|Adventure|Fantasy|Romance,J.K. Simmons,Spider-Man,544665,evil|goblin|spider|spider man|superhero,2012.0,English,139000000.0,2002.0,7.3,5000,264706375.0
563,Kyle Balda,308.0,336029560.0,Action|Animation|Comedy|Family|Sci-Fi,Steve Carell,Minions,142403,antarctica|minion|queen|super villain|villain,275.0,English,74000000.0,2015.0,6.4,70000,262029560.0
1181,M. Night Shyamalan,234.0,293501675.0,Drama|Mystery|Thriller,Bruce Willis,The Sixth Sense,704766,able to see the dead|ghost|plot twist|psychic|...,2073.0,English,40000000.0,1999.0,8.1,14000,253501675.0
2917,Steven Spielberg,385.0,260000000.0,Adventure|Drama|Thriller,Roy Scheider,Jaws,412454,beach|blockbuster|fishing|great white shark|shark,962.0,English,8000000.0,1975.0,8.0,21000,252000000.0
125,Chris Buck,406.0,400736600.0,Adventure|Animation|Comedy|Family|Fantasy|Musical,Josh Gad,Frozen,421658,magic|sister love|sister sister relationship|s...,904.0,English,150000000.0,2013.0,7.6,58000,250736600.0
519,Yarrow Cheney,165.0,323505540.0,Animation|Comedy|Family,Steve Coogan,The Secret Life of Pets,24407,animal control|lost animal|mongrel|pet|terrier,155.0,English,75000000.0,2016.0,6.8,36000,248505540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,Patrick Meaney,7.0,NaN,Biography|Documentary,Taliesin Jaffe,The Image Revolution,66,comic book|comic book history|comics|spawn|wal...,2.0,English,50000.0,2014.0,7.4,83,NaN
4995,Chad Hartigan,34.0,NaN,Drama,Jan Haley,This Is Martin Bonner,733,estranged daughter|friendship|nevada|prisoner|...,7.0,English,42000.0,2013.0,6.6,234,NaN
4996,Malcolm Goodwin,NaN,NaN,Comedy,Katrina Bowden,A True Story,181,ellipsis in title|long title|period in title|p...,4.0,English,45000.0,2013.0,5.5,72,NaN
4999,Kirk Loudon,3.0,NaN,Drama|Sci-Fi|Thriller,Barry Corbin,Dawn of the Crescent Moon,34,NaN,2.0,English,75000.0,2014.0,5.0,87,NaN
5000,Travis Legge,2.0,NaN,Horror,Elissa Dowling,Raymond Did It,192,blood|independent film|mutilation|violence,6.0,English,40000.0,2011.0,3.2,239,NaN
5001,Martin Scorsese,71.0,321952.0,Documentary|Music,Ringo Starr,The Last Waltz,12611,band|final concert|guitar|interview|thanksgiving,113.0,English,NaN,1978.0,8.2,0,NaN
5002,Collin Joseph Neal,7.0,NaN,Horror|Thriller,Julianne Gabert,"Run, Hide, Die",106,NaN,5.0,English,50000.0,2012.0,3.7,225,NaN
5003,Bradley Rust Gray,61.0,24705.0,Drama,Zoe Kazan,The Exploding Girl,1516,friend|hospital|low budget film|ring|stoned,10.0,English,NaN,2009.0,6.3,377,NaN
5005,Andrew Bujalski,52.0,NaN,Comedy,Andrew Bujalski,Mutual Appreciation,1578,friendship|guitarist|mumblecore|musician|new york,23.0,English,NaN,2005.0,6.9,91,NaN
5006,Damir Catic,NaN,NaN,Horror,Nichole Ceballos,Her Cry: La Llorona Investigation,23,la llorona|weeping,2.0,English,60000.0,2013.0,5.4,48,NaN
5007,Ben Wheatley,53.0,9609.0,Comedy|Crime|Drama,Michael Smiley,Down Terrace,2646,black comedy,22.0,English,NaN,2009.0,6.5,535,NaN
5010,Andrew Bujalski,43.0,NaN,Comedy|Drama,Andrew Bujalski,Funny Ha Ha,1894,mumblecore,61.0,English,NaN,2002.0,6.4,108,NaN
5013,Eric Eason,28.0,NaN,Drama|Family,Franky G,Manito,493,ex convict|graduation|manhattan new york city|...,21.0,English,24000.0,2002.0,7.0,61,NaN
5014,Uwe Boll,58.0,NaN,Action|Crime|Thriller,Matt Frewer,Rampage,15091,death|first part|killing spree|massacre|murder,129.0,English,NaN,2009.0,6.3,0,NaN
5016,Joseph Mazzella,NaN,NaN,Crime|Drama|Thriller,Tjasa Ferme,Dutch Kills,57,NaN,2.0,English,25000.0,2015.0,4.8,33,NaN
5017,Travis Legge,1.0,NaN,Comedy|Romance,Kristen Seavey,Dry Spell,114,anti romantic comedy|dating|divorce|sex comedy...,3.0,English,22000.0,2013.0,3.3,200,NaN
5018,Alex Kendrick,5.0,NaN,Drama,Shannen Fields,Flywheel,2986,baby|car salesman|christian film|pregnancy|use...,49.0,English,20000.0,2003.0,6.9,725,NaN
5019,Marcus Nispel,43.0,NaN,Horror|Mystery|Thriller,Ashley Tramonte,Exeter,3836,asylum|demon|party|secret|teenager,33.0,English,NaN,2015.0,4.6,0,NaN
5020,Brandon Landers,NaN,NaN,Drama|Horror|Thriller,Robbie Barnes,The Ridges,125,avatar|college|death|tron|university,8.0,English,17350.0,2011.0,3.0,33,NaN
5022,Jim Chuchu,6.0,NaN,Drama,Paul Ogola,Stories of Our Lives,70,NaN,1.0,English,15000.0,2014.0,7.4,45,NaN
5024,Jason Trost,42.0,NaN,Sci-Fi|Thriller,Sean Whalen,All Superheroes Must Die,1771,arch villain|game of death|kidnapping|superhero,35.0,English,20000.0,2011.0,4.0,835,NaN
5028,Ivan Kavanagh,12.0,NaN,Horror,Patrick O'Donnell,Tin Can Man,57,NaN,1.0,English,10000.0,2007.0,6.7,105,NaN
5030,Tadeo Garcia,NaN,NaN,Drama,Tatiana Suarez-Pico,On the Downlow,156,gang initiation|gunplay|hazing|latino|shakespe...,3.0,English,NaN,2004.0,6.1,22,NaN
5031,Thomas L. Phillips,13.0,NaN,Comedy|Horror|Thriller,Julianna Pitt,Sanctuary; Quite a Conundrum,133,nudity|party|pirate|swimsuit|three word title,8.0,English,200000.0,2012.0,5.4,424,NaN
5032,Ash Baron-Cohen,10.0,NaN,Crime|Drama,Peter Greene,Bang,438,corruption|homeless|homeless man|motorcycle|ur...,14.0,English,NaN,1995.0,6.4,20,NaN
5036,Anthony Vallone,NaN,NaN,Crime|Drama,Richard Jewell,The Mongol King,36,jewell|mongol|nostradamus|stepnicka|vallone,1.0,English,3250.0,2005.0,7.8,4,NaN
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,fraud|postal worker|prison|theft|trial,6.0,English,NaN,2013.0,7.7,84,NaN
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,cult|fbi|hideout|prison escape|serial killer,359.0,English,NaN,NaN,7.5,32000,NaN
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,NaN,3.0,English,1400.0,2013.0,6.3,16,NaN
5041,Daniel Hsia,14.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,NaN,9.0,English,NaN,2012.0,6.3,660,NaN

In [101]:
data= movies.sort_values(by='profit', ascending=False)
top10= pd.DataFrame(data, columns=['profit'])
top10.head(10)

           profit
0     523505847.0
29    502177271.0
26    458672302.0
3024  449935665.0
3080  424449459.0
794   403279547.0
17    403279547.0
509   377783777.0
240   359544677.0
66    348316061.0

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [103]:
# Write your code for dropping duplicate values here
top10.drop_duplicates(subset=None,keep='first',inplace=False).head(10)

           profit
0     523505847.0
29    502177271.0
26    458672302.0
3024  449935665.0
3080  424449459.0
794   403279547.0
509   377783777.0
240   359544677.0
66    348316061.0
439   329999255.0

In [104]:
# Write code for repeating subtask 2 here

#Sort df by profit in descending order.Print Top 10 movies for verification.
data= movies.sort_values(by='profit', ascending=False)
top10= pd.DataFrame(data, columns=['profit'])
top10.head(10)

           profit
0     523505847.0
29    502177271.0
26    458672302.0
3024  449935665.0
3080  424449459.0
794   403279547.0
17    403279547.0
509   377783777.0
240   359544677.0
66    348316061.0

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [111]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
data= movies.sort_values(by='imdb_score', ascending=False)
IMDB_Top_250= pd.DataFrame(data, columns=['movie_title','imdb_score'])
IMDB_Top_250.head(250)

                                            movie_title  imdb_score
2765                      Towering InfernoÂ                      9.5
1937                          The Shawshank RedemptionÂ          9.3
3466                                     The GodfatherÂ          9.2
4409                              Kickboxer: VengeanceÂ          9.1
2824                               DekalogÂ                      9.1
3207                               DekalogÂ                      9.1
66                                     The Dark KnightÂ          9.0
2837                            The Godfather: Part IIÂ          9.0
3481                                 FargoÂ                      9.0
339      The Lord of the Rings: The Return of the KingÂ          8.9
4822                                      12 Angry MenÂ          8.9
4498                    The Good, the Bad and the UglyÂ          8.9
3355                                      Pulp FictionÂ          8.9
1874                                  Schindler's ListÂ          8.9
683                                         Fight ClubÂ          8.8
836                                       Forrest GumpÂ          8.8
270   The Lord of the Rings: The Fellowship of the R...         8.8
2051    Star Wars: Episode V - The Empire Strikes BackÂ          8.8
97                                           InceptionÂ          8.8
1842     It's Always Sunny in PhiladelphiaÂ                      8.8
459                              DaredevilÂ                      8.8
1620                   Friday Night LightsÂ                      8.7
1818                      The HoneymoonersÂ                      8.7
654                                         The MatrixÂ          8.7
4468                            Queen of the MountainsÂ          8.7
3867                   One Flew Over the Cuckoo's NestÂ          8.7
340              The Lord of the Rings: The Two TowersÂ          8.7
3024                Star Wars: Episode IV - A New HopeÂ          8.7
4747                                     Seven SamuraiÂ          8.7
4924                                    Butterfly GirlÂ          8.7
...                                                 ...         ...
3362                                       Stand by MeÂ          8.1
4912                                             OrdetÂ          8.1
1911                               There Will Be BloodÂ          8.1
4061                             Cat on a Hot Tin RoofÂ          8.1
2870         Del 1 - MÃ¤n som hatar kvinnorÂ                      8.1
128                                 Mad Max: Fury RoadÂ          8.1
4041                  The Man Who Shot Liberty ValanceÂ          8.1
855                                  Kill Bill: Vol. 1Â          8.1
4034                                 A Christmas StoryÂ          8.1
3969                                           NetworkÂ          8.1
2755                                     Groundhog DayÂ          8.1
1373                                              RushÂ          8.1
3423                                             AkiraÂ          8.1
1875                                          The HelpÂ          8.1
95                             Guardians of the GalaxyÂ          8.1
1885                            No Country for Old MenÂ          8.1
4190                                    Before SunriseÂ          8.1
794                                       The AvengersÂ          8.1
3553                                       Elite SquadÂ          8.1
183                               The Bourne UltimatumÂ          8.1
205   Pirates of the Caribbean: The Curse of the Bla...         8.1
3881                        Animal KingdomÂ                      8.1
2914                Tae Guk Gi: The Brotherhood of WarÂ          8.1
697                                      Jurassic ParkÂ          8.1
3889                                        Annie HallÂ          8.1
17                                        The AvengersÂ          8.1
2174                                  12 Years a SlaveÂ          8.1
715                                          Gone GirlÂ          8.1
4238                       The Best Years of Our LivesÂ          8.1
719                                    The Truman ShowÂ          8.1

[250 rows x 2 columns]

In [113]:
#Taking rows whoes language column value is not En

NameError: name 'clear' is not defined

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [136]:
#Write your code for extracting the top 10 directors here
movies['mean_imdb_score']=movies['imdb_score'].mean()
data= movies.sort_values(by='mean_imdb_score', ascending=False)
top10director= pd.DataFrame(data, columns=['director_name','imdb_score','mean_imdb_score'])
top10director.head(10)

          director_name  imdb_score  mean_imdb_score
0         James Cameron         7.9         6.442138
3359        Robert Wise         8.0         6.442138
3366      Rick Famuyiwa         6.5         6.442138
3365         Don Siegel         7.6         6.442138
3364       Chris Stokes         3.5         6.442138
3363        Danny Boyle         7.6         6.442138
3362         Rob Reiner         8.1         6.442138
3361    Jonathan Dayton         7.9         6.442138
3360         Ron Howard         6.2         6.442138
3358  Jay Chandrasekhar         5.6         6.442138

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [135]:
# Write your code for extracting the first two genres of each movie here
#[Your Code]
movies['mean_imdb_score']=movies['imdb_score'].mean()
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,plot_keywords,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,mean_imdb_score
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,avatar|future|marine|native|paraplegic,3054.0,English,237000000.0,2009.0,7.9,33000,523505847.0,6.442138
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,goddess|marriage ceremony|marriage proposal|pi...,1238.0,English,300000000.0,2007.0,7.1,0,9404152.0,6.442138
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,bomb|espionage|sequel|spy|terrorist,994.0,English,245000000.0,2015.0,6.8,85000,-44925825.0,6.442138
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,deception|imprisonment|lawlessness|police offi...,2701.0,English,250000000.0,2012.0,8.5,164000,198130642.0,6.442138
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,English,NaN,NaN,7.1,0,NaN,6.442138

In [29]:
#Movies has been grouped by genre_1 and then genre_2

In [30]:
#Pivot table can be used to calculate the mean gross and then group by genres. And then sorted by the gross value.

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [31]:
# Write your code for creating three new dataframes here

In [32]:
#Using loc function to check if the actor name contains Leonardo DiCaprio, including only those rows.

In [33]:
#Using loc function to check if the actor name contains Brad Pitt, including only those rows.
#[Your Code]

In [34]:
# Write your code for combining the three dataframes here

In [35]:
# Write your code for grouping the combined dataframe here

In [36]:
#Mean critic Review and Mean audience review grouped by the actor's name in above combined data frame
#Using pivot to grorup by both and then get sorted mean.

**Checkpoint 6:** `Leonardo` has aced both the lists!